p {
  font-family: Georgia;
  font-size: 15px;
  }
  
  h1 {
     font-family: "Lucida Console";
     font-size: 30px;
     }

body{
    background-color: #b3fff0;
}

h2 {
  font-family: "Times New Roman";
}
